{% extends "base.html" %}

{% block title %}Sākums{% endblock %}

{% block content %}
<h1>Laipni lūgti PatriotHair - Jo Stipras Vērtības Prasa Vēl Stiprākus Matus!</h1>

<p>Noguruši no šampūniem, kuri <em>nestāv</em> par neko? Pie PatriotHair mēs ticam, ka <strong>mitrināšana ir izvēles iespēja, bet pārliecība ir obligāta</strong>. 
Mūsu produkti ne tikai attīra galvas ādu - tie <strong>nostiprina tavu ideoloģiju</strong>.</p>

<p>Bez liekām sastāvdaļām, bez progresīvām inovācijām - tikai <strong>tīra, tradicionāla, brīvību mīloša putas</strong>. 
Jo <strong>lieliskums sākas pie saknēm</strong>.</p>

{% endblock %}
